<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>thank you for your interest in our product</h3>
    <p>
        product name: {{product.description}}<br>
        quantity: {{quantity}}
    </p>

    <p>
        you will recieve an email containing a pre-order invoice as soon as possible.<br>
        thanks for your patronage
    </p>
    
</body>
</html>